
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background: #ffffff;
    text-align: center;
}

.main-cont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 32px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
}

select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #000;
    font-size: 18px;
    background: #fff;
    color: #000;
}

select option {
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    background: #fff;
    color: #000;
}

.search {
    padding: 6px;
    border: 1px solid #000;
    margin-right: 10px;
    font-size: 18px;
}


.table-cont {
    height: 80%;
    width: 90%;
}

.table-cont,
th,
td {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px dashed #D3D3D3;
}

th,
td {
    padding: 7px;
    text-align: center;
}

th {
    height: 40px;
    background-color: #000;
    color: #fff;
}

.table-cont-search {
    height: 20%;
    width: 90%;
}

.btn {
    height: 40px;
    width: 80px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}

.edit-btn {
    background: url('../img/edit-solid.svg') no-repeat center center/cover;
    filter: invert(69%) sepia(48%) saturate(564%) hue-rotate(93deg) brightness(94%) contrast(92%);
    height: 30px;
    width: 30px;
    text-align: center;
    border: none;
}

.btn:hover {
    filter: invert(0%) sepia(48%) saturate(564%) hue-rotate(93deg) brightness(94%) contrast(92%);
}

.remove-btn {
    background: url('../img/trash-solid.svg') no-repeat center center/cover;
    filter: invert(26%) sepia(93%) saturate(4062%) hue-rotate(351deg) brightness(94%) contrast(110%);
    height: 30px;
    width: 30px;
    text-align: center;
    border: none;
}

.confirm-btn {
    background: url('../img/check-circle-regular.svg') no-repeat center center/cover;
    filter: invert(69%) sepia(48%) saturate(564%) hue-rotate(93deg) brightness(94%) contrast(92%);
    height: 30px;
    width: 30px;
    text-align: center;
    border: none;
}

.cancel-btn {
    background: url('../img/undo-solid.svg') no-repeat center center/cover;
    filter: invert(26%) sepia(93%) saturate(4062%) hue-rotate(351deg) brightness(94%) contrast(110%);
    height: 30px;
    width: 30px;
    text-align: center;
    border: none;
}

.input-edit {
    width: 120px;
    text-align: center;
}

